<p>Upload Another Profile Picture</p>
<p class="under-review">24 Hour Review Time</p>
<form method="POST" action="./upload" enctype="multipart/form-data">
{{!-- <input class="dog-selector" type="button"> --}}
<input type="file" name="image">
<input type="submit" >
</form>