<!-- Login page to be rendered on load of application -->
<div class="splitMenu-container" id="login">
<!-- ==================================================================================== -->
<!-- ==================================================================================== -->
<!-- This will be the login form box for the application -->

  <div class="login-container"> 

    <h1 >Login to your account</h1>
   <input id="inputField email-login" type="text" placeholder="Username" name="userName" required>
   <input id="inputField password-login" type="text" placeholder="Password" name="passWord" required>
   <button type="submit">Login</button>
<div class="fb-login-button" data-width="30" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>

  </div>
<!-- ==================================================================================== -->
<!-- ==================================================================================== -->
<!-- this will be the area for user to click on sign up button in order send them to sign up page -->

  <div class="signUp-container"> 

  <h1>New Here?</h1>
  <p>Well then you should join us obviously</p>
  
  <button id="signUpBtn">Sign Up</button>

  </div>

</div>