<!-- Login page to be rendered on load of application -->
<div class="splitMenu-container">
<!-- ==================================================================================== -->
<!-- ==================================================================================== -->
<!-- This will be the login form box for the application -->

  <div class="login-container"> 

    <h1>Login to your account</h1>
   <input id="inputField email-login" type="text" placeholder="Username" name="userName" required>
   <input id="inputField password-login" type="text" placeholder="Password" name="passWord" required>
   <button type="submit">Login</button>
   <button id="fbLoginbtn" type="submit">Login with FaceBook</button>

  </div>
<!-- ==================================================================================== -->
<!-- ==================================================================================== -->
<!-- this will be the area for user to click on sign up button in order send them to sign up page -->


{{!-- BEGIN CONSTRUCTION --}}

<p>TESTING ZONE UNDER CONSTRUCTION</p>

    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

{{!-- END OF CONSTRUCTION --}}
  <div class="signUp-container"> 

  <h1>New Here?</h1>
  <p>Well then you should join us obviously</p>
  
  <button id="signUpBtn" type="submit">Sign Up</button>

  </div>

</div>

<script src="./js/login.js"></script>