
{{!-- Profile Picture container --}}
<div class="container">
{{!-- TODO: Need to make picture uploadable --}}
 <div class="profile-picture">
    <img id="picture" src="#">
 </div>

 <h3 id="profile-name">{{user.first_name}} {{user.last_name}}</h3>
 <h5 id="rating">Rating: ⭐️⭐️⭐️⭐️⭐️</h5>

 {{!-- Possible api map showing location based of zip code with map displayed --}}
{{!-- <div class="map-container">
   <img id="map-display" src="https://www.kpmindustries.com/wp-content/uploads/2018/08/Placeholder-Map-Image.png">
</div> --}}

<div class="newPostModal-container">
        <button id="newPostBtn">New post</button>
      <div id="newPostModal" class="newPostModal">
         <div class="postModal-content">
            <span class="close">&times;</span>
            <h1>New Dog Post!</h1>
            <div>
               {{>dogupload}}
               <form class="newPost">
                   <div class="form-group">
                     <label for="dog-name">Dog's Name: </label>
                     <input class="form-input" type="text" id="dog-name"/>
                   </div>
                   <div class="form-group">
                     <label for="dog-age">Age: </label>
                     <input class="form-input" type="text" id="dog-age"/>
                   </div>
                   <div class="form-group">
                     <label for="dog-breed">Breed type: </label>
                     <input class="form-input" type="text" id="dog-breed"/>
                   </div>
                   <div class="form-group">
                     <label for="dog-size">Size: </label>
                     <input class="form-input" type="radio" name="dog-size" value="small"> Small 
                     <input class="form-input" type="radio" name="dog-size" value="medium"> Medium
                     <input class="form-input" type="radio" name="dog-size" value="large"> Large <br>
                   </div>
                   <div class="form-group">
                     <label for="dog-sex">Sex: </label>
                     <input class="form-input" type="radio" name="dog-sex" value="male"> Male 
                     <input class="form-input" type="radio" name="dog-sex" value="female"> Female <br>
                   </div>
                   <div class="form-group">
                     <label for="dog-color">Color: </label>
                     <input class="form-input" type="text" id="dog-color"/>
                   </div>
                   <div class="form-group">
                     <button id="postBtn" type="submit">Post!</button>
                   </div>
               </form>
            </div>
         </div>
      </div>
</div>




{{!-- Bio section for profile page  --}}
{{!-- TODO: need to have in the models an ability to save and edit user bio --}}
 <div class="bio">
    <h1>Bio</h1>
    <div id="bioInput">
      <p></p>
    </div>
    <h3>Zip code: user.zipcode</h3>
 </div>
</div>


{{!-- Section to display what dogs are for sell --}}
<div class="userDog-container">
   <h1 id="userDog-title">My friends looking for a home</h1>
 <div class="dogs">
    <img id="dog-profile" src="#">
    {{!-- <img class="dog-profile" src="https://placedog.net/300/300?id=148">
    <img class="dog-profile" src="https://placedog.net/300/300?id=14"> --}}
 </div>
</div>
<div cl
</div>

<div id="contactBtn">
<button>Contact</button>
</div>

<script src="/js/profilenewPost.js"></script>
<script src="/js/profile.js"></script>